.form{
    position: absolute;
    left: 549px;
    right: 50%;
    width: 28%;
    top: 13%;    
border-radius: 8px;
max-width: 80%;
padding: 20px 30px 20px 30px;
border: 1px solid rgba(0, 0, 0, .2);
background: #fff;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.81);
}