.contenedorInicio{
    background-image: url("https://www.fing.edu.uy/tecnoinf/paysandu/images/tip2%20prueba.jpg");
    background-repeat: space;
    background-position-x: center;
    background-position-y: center;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 500px;
}


#titulo{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #77927a;
    
}

#tablaNovedades{
    height: 100%;
    width: 100%;
    background-color: #77927a;
}

#tablaNovedades table{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
