.contenedorInicio{
    background-image: url("https://www.fing.edu.uy/tecnoinf/paysandu/images/tip2%20prueba.jpg");
    background-repeat: space;
    background-position-x: center;
    background-position-y: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 650px;
    background-color:#77927a;  
}


#titulo{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #95b899;
    padding: 25px;
    color: white;
}

#tablaNovedades{
    height: 650px;
    width: 100%;
    background-color: #8cac8f;
    
}

#tablaNovedades table{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #95b899;
    border-style: hidden;
    margin-top: 40px;
    border-radius: 10px;
}

#footer{
    background-color: #343a40 ;
    color: gray;
    
}
#footer a{
    color: white;
}